body{
    background-color: white;
    width: 100vw;
    height: 100vw;
}
.fir{
    background-color: rgb(255, 255, 255);
    margin: auto ;
    border: black solid;
    width: 80%;
    height: 30%;
    display: flex;
    align-content: center;
    padding-top: 120px;
    padding-bottom: -100px;
}
.dot{
    background-color: rgb(255, 255, 255);
    margin: 30px auto ;
    border: black dotted;
    width: 80%;
    height: 30%;
}

.rect{
    background-color:  purple;
    height: 250px;
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
        
}
.green{
    background-color: seagreen;
    width: 400px;
    height: 250px;
    margin-left:30px;
    margin-top: 20px;
}
.circle{
    background-color: steelblue;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50%;
}
.yellow{
    background-color: tan;
    height: 60%;
    width: 80%;
    box-shadow:10px 10px 5px 0px black;
    margin: auto;
    margin-top: 30px;
}
.hello {
    width: 50%;
    background-color: white;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto; 
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  }
  
  .hey  {

    text-align: center;
    padding: 5rem ;
    height: 10%;
    margin:  auto;
    color: navy;
  }